<html>
    <head>
        <title>{if $page_title}{$page_title} - {/if}iDeo Framework</title>
    </head>

    <body>
        <div style="width: 600px; background: #eee; border: solid 1px #c00; border-radius: 5px; padding: 5px; margin: 10px auto;">
            <div id="content">
                {$MAIN_CONTENT}
            </div>
            <div style="text-align: right;">
                <small>Ideo Framework</small>
            </div>
        </div>
    </body>
</html>